{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}"> 
    <title> davomati</title>
</head>
<body>
  {% if user.is_authenticated %} 

    {% if user.lavozim == 'tyutr' %}  
            
      <!-- navbar -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/images/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Davomat platformasi
          </a>
          <span>
            <a href="{% url 'logout' %}" class="btn btn-primary">Chiqish</a>
          </span>
        </div>
      </nav>
    
      <div class="container">
          <div class="row">
            <div class=" mt-3 ">
              <h3 class="m-3" >{{team.yonalish}} jamoasining  davomati</h3>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      
                      <th scope="col">Ism Familiya</th>
                      {% for mark in team.workers.first.marks.all %}
                      <th style="writing-mode:vertical-rl; text-orientation:mixed" >

                        {% if today == mark.attendance.date|date:"Y-m-d" %}
                        <small><a href="{% url 'update' mark.attendance.id %}">{{mark.attendance.date|date:"Y-m-d"}}</a></small>
                        {% else %}
                        <small>{{mark.attendance.date|date:"Y-m-d"}}</small>
                        {% endif %}
                        
                      
                      </th>
                      {% endfor %}
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                      {% for worker in team.workers.all  %}
                        
                      
                    <tr>
                      <td>{{worker.first_name}} {{worker.last_name}}</td>
                      {% for mark in worker.marks.all  %}
                          {% if mark.is_attended and mark.amaliyot %}
                              <td style="height:5px; width: 5px;" ></td>
                          {% else %}
                              <td style="height:5px; width: 5px; background-color: black;" ></td>
                          {% endif %}
                      {% endfor %}
                      
                    </tr>
                    {% endfor %}
                  
                  </tbody>
                </table>
                {% if is_att_taken %}
                  <a href="#" class="btn btn-danger" >Davomad olib bo'lingan.</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'take' team.id %}">Davomat olish</a>
                {% endif %}
          </div>
          </div>
      </div>

    {% endif %}         
        
  {% else %}
  
    <!-- navbar -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static '/images/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Davomat platformasi
        </a>
        <span>
          <a href="{% url 'kirish' %}" class="btn btn-primary">Kirish</a>
        </span>
      </div>
    </nav>
  
  {% endif%}

  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>