
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}"> 
    <title>{{fakultet}} davomati</title>
</head>
<body>

  {% if user.is_authenticated %} 

    {% if user.is_superuser or user.lavozim == 'admin' %}   
        
      <!-- navbar -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/images/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Davomat platformasi
          </a>
          <span>
            <a href="{% url 'logout' %}" class="btn btn-primary">Chiqish</a>
          </span>
        </div>
      </nav>
    
      <div class="container mt-3">
        <div class=" mt-3 ">
            
            <form method="post">
                {% csrf_token %} 
                <input type="date" name="kun" placeholder="kun">
                <button type="submit">Korish</button>
            </form>

        </div>
      </div>

    {% endif %}         
        
  {% else %}
  
    <!-- navbar -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static '/images/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Davomat platformasi
        </a>
        <span>
          <a href="{% url 'kirish' %}" class="btn btn-primary">Kirish</a>
        </span>
      </div>
    </nav>
  
  {% endif%}

  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>