{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}"> 
    <title>{{fakultet}} davomati</title>
</head>
<body>

  {% if user.is_authenticated %} 

    {% if user.lavozim == 'tyutr' %}  
        
      <!-- navbar -->
      <nav class="navbar bg-body-tertiary p-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/images/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Davomat platformasi
          </a>
          <span>
            <a href="{% url 'logout' %}" class="btn btn-primary">Chiqish</a>
          </span>
        </div>
      </nav>
      
      <div class="container mt-3">
        <div class=" mt-3 ">
            <h3 class="m-3" >{{team.name}} jamoasi uchun davomad olish</h3>
            <form  method="post"> 
              {% csrf_token %} 
              <table class="table table-bordered">
                <thead>
                  <tr>                    
                    <th class="col-lg-10">Ism Familiya</th>
                    <th class="col-lg-2" >Davomad</th>                   
                  </tr>
                </thead>
                <tbody>

                  {% for worker in team.workers.all %}              
                    <tr>
                      <td>{{worker.fish}}</td>
                      <td>
                          <div class="form-check">
                              <input type="hidden" name="worker_{{worker.id}}" value="{{worker.id}}">
                              <input name="is_attended_{{worker.id}}" class="form-check-input" type="checkbox"  id="flexCheckChecked" checked>
                          </div>
                      </td>
                      
                    </tr>
                  {% endfor %}
                
                </tbody>
              </table>

              <button class="btn btn-primary"  type="submit">Tasdiqlash</button>
            </form>
        </div>
      </div>

    {% endif %}         
        
  {% else %}
  
    <!-- navbar -->
    <nav class="navbar bg-body-tertiary p-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static '/images/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Davomat platformasi
        </a>
        <span>
          <a href="{% url 'kirish' %}" class="btn btn-primary">Kirish</a>
        </span>
      </div>
    </nav>

    <div class="container-fluid">
      <img class="img-fluid" src="{% static '/images/kspi.jpg' %}" alt="">
    </div>
  
  {% endif%}


  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>